{% for note in notes %}
<div class='note'>
	<form action='/notes/update' method='post'>
		<input type='hidden' value='{{ note['id'] }}' name='id'>
		<div class='title-text'>
			<input type='hidden' name='title' value='{{ note['title']}}'>
			<h3 class='title-h3'>{{ note['title'] }}</h3>
		</div>
		<textarea name='description' class='description'>{{ note['description'] }}</textarea>
	</form>
	<form action='/notes/delete' method='post'>
		<input type='hidden' name='id' value='{{note.id}}'>
		<input class='delete' type='submit' value='Delete Note'>
	</form>	
</div>
{% endfor %}